<div class="container-fluid py-5 bg-light">
  <div class="row">              
    <div class="container">
      <h2 class="text-uppercase mb-3 mb-sm-4 mb-md-5 mt-md-4 text-primary">Partnerschaft</h2>
      <div class="row">
        <div class="col col-md-10 col-lg-8">
          <p class="display-4 mb-5">Wir sind Ihr verlässlicher Partner zum Erwerb von hochqualitativen Produkten im Bereich Transport, wie LKW-Aufbauten und -Anhänger sowie Schmierstoffe.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-primary py-5 mb-5 mb-md-6">
  <div class="row">
    <div class="container">
      <div class="row text-white">
        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <h4 class="text-uppercase text-warning mb-3">Nähe</h4>
          <p class="lead mb-0 mb-md-3">Die Nähe zu Ihnen, unseren Kunden und der verlässliche Service stehen für uns an erster Stelle.</p>
        </div>
        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <h4 class="text-uppercase text-warning mb-3">Qualität</h4>
          <p class="lead mb-0 mb-md-3">Produkte von höchster Qualität zu finden, die optimal zu Ihren Anwendungen passen ist unsere Priorität.</p>
        </div>
        <div class="col-12 col-md-4">
          <h4 class="text-uppercase text-warning mb-3">ERFAHRUNG</h4>
          <p class="lead mb-0 mb-md-3">Wir haben mehr als 40 Jahre Erfahrung  im weltweiten Vertrieb hochwertiger Investitionsgüter und Waren.</p>
        </div>
      </div>
    </div>
  </div>  
</div>

<div id="products" class="container mb-5 mb-md-6 mb-lg-8 pt-5">
  <h2 class="text-uppercase mb-3 mb-sm-4 mb-md-5 text-primary">Produkte</h2>
  <div class="row mb-5">
    <div class="col-12 col-sm-auto mb-3">
      <h5 class="text-uppercase text-primary filter-title">Kategorien</h5>

      <div class="btn-toolbar filter-btns" role="toolbar" aria-label="Kategorien">
        <div class="btn-group mr-2" role="group" aria-label="Aufbauten group">
          <button type="button" ng-click="toggleFilter('category', 'bodies')" ng-class="{active: toggleClass('category', 'bodies')}" class="btn mb-2 text-uppercase btn-outline-primary">Aufbauten</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Anhänger group">
          <button type="button" ng-click="toggleFilter('category', 'trailers')" ng-class="{active: toggleClass('category', 'trailers')}" class="btn mb-2 text-uppercase btn-outline-primary">Anhänger</button>
        </div>
        <div class="btn-group" role="group" aria-label="Schmierstoffe group">
          <button type="button" ng-click="toggleFilter('category', 'lubricants')" ng-class="{active: toggleClass('category', 'lubricants')}" class="btn mb-2 text-uppercase btn-outline-primary">Schmierstoffe</button>
        </div>
      </div>

    </div>

    <div class="col-12 col-sm-auto mb-3" ng-if="companies.length > 0">
      <h5 class="text-uppercase text-primary filter-title">Hersteller</h5>
      <div class="btn-toolbar filter-btns" role="toolbar" aria-label="Hersteller">
        <div class="btn-group mr-2" role="group" aria-label="Gergen group" ng-repeat="c in companies">
          <button type="button" ng-click="toggleFilter('company', c.key)" ng-class="{active: toggleClass('company', c.key)}" class="btn mb-2 btn-outline-primary">{{ c.title }}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row card-deck" ng-if="products.length > 0">
    <div class="col-12 col-sm-6 col-lg-4 mb-4 mb-md-5" ng-repeat="p in products | filter:filterProducts">
      <div class="card card-product h-100 mx-0">
        <div class="card-img-top">
          <img ng-src="{{ p.images[0].file_small_url }}" alt="Card image cap">
          <div class="card-img-label d-flex">
            <img ng-src="{{ getLogo(p.company) }}" alt="" class="img-fluid align-self-center">
          </div>
        </div>
        <div class="card-body pt-4">
          <h4 class="card-title mb-2 text-primary text-uppercase">{{ p.title }}</h4>
          <p class="card-text">{{ p.intro }}</p>
        </div>
        <div class="card-footer">
          <a ng-href="/{{ p.id }}-{{ urlName(p.title) }}" class="btn btn-block btn-outline-primary">Mehr Informationen</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center" ng-if="products.length == 0">
    <div class="col col-sm-8 col-md-6">
      <div id="empty-list" class="alert alert-warning text-center" role="alert">
        No items could be found matching the requested filter
      </div>
    </div>
  </div>

  <div class="row d-none">
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-outline-secondary btn-sm col-12 col-sm-8" disabled>mehr laden</button>
    </div>
  </div>
</div>

<div class="container mb-5 mb-md-6 mb-lg-8">
  <div class="row">
    <div class="col">
      <h2 class="text-uppercase mb-3 mb-sm-4 mb-md-5 text-primary">Vertretungen</h2>
      <div class="row align-items-center">
        <div class="col-6 col-md-4 col-lg-auto mb-3 mb-md-2" ng-repeat="c in companies">
          <img ng-src="{{ c.logo }}" alt="{{ c.title }}" class="img-fluid rounded">
        </div>
      </div>
    </div>
  </div>
</div>